{% extends 'base.html' %}
{% load static %}
{% block body %}
	<div class="banner_bottom donate-log">
		<div class="donate-inner">
			<div class="donate-info">
				<div class="row text-center">
							<br>
						<h2>
							Who we are
						</h2>
						<div class="col-sm-12">
							<br>
							<p>
								My Allowance is an online chore and allowance app with a reward system that teaches kids the basic financial principles surrounding earning, saving, sharing and spending money wisely
							</p>
						</div>
						<!-- HR -->
						<div class="col-sm-6 offset-sm-3">
							<hr>
						</div>

						<div class="col-sm-12">
							<h2>Our Story</h2>
							<br>
							<p>
								My allowance team came together in 2017 to bring innovation to the somewhat stagnated education sector and growing financial sector in Uganda.  Globalization and digitalization have made learning more accessible and efficient than ever before, we hope to inspire educators and technologists rethink ways of impacting youths and children.
							</p>
						</div>

						<!-- HR -->
						<div class="col-sm-6 offset-sm-3">
							<hr>
						</div>

						<div class="col-sm-12">
							<h2>Mission</h2>
							<br>
						<p>
							Empowering children to socially and economically empower themselves for the future.
						</p>	
						</div>

				</div>
			</div>
		</div>
	</div>
	<div class="banner_bottom">
		<div class="col-md-8 col-md-offset-2 row">
			<img src="{% static 'assets/images/slider/3.jpg' %}" class="img" width="100%">
		</div>
		<div class="col-md-12 row text-center">
			<br>
			<div class="col-md-8 col-md-offset-2">
				<h2>What We Do</h2><hr>	
		
			<p>
				Technology offers a learning medium with distinctive features. These can be used to support and enhance the development of learners. While ICT can be used to support teaching in many and varied contexts, successful use reflects the extent to which teachers or practitioners interact with children. Successful use of ICT can introduce greater variety and stimuli that capture children’s interest, generate enthusiasm and prompt ideas and thinking, provide improved access to different media and resources that help children to communicate and explore.
			</p>
			<br>
			<p>
				 Using technology, we disrupt traditional development opportunities and customize learning with increased participation based on collaboration. Students will expect more opportunities, get their work ethic on and prepare for the realities ahead.
			</p>
			<br>
			<p>
				As a startup, we concentrate on building home school connections for learning to include parents as partners. In this era, the voice and choice of students should act as guiding practice and pedagogy.
			</p>
			<br><br>
			</div>
		</div>
		
	</div>
{% endblock %}