{% extends 'my_allowance/base.html' %}
{% load static %}

{% block body %}
<style type="text/css">
	
   
</style>
<article id="main">

	<header class="text-xs-center">
		<h2>Start Earning</h2>
	</header>

	<section class="wrapper style2 container">
		<div class="col-sm-12">
			<div class="col-sm-8">
				<img class="img" style="width: 100%" src="{% static 'assets/images/slider/3.jpg' %}">
				<h3>
					Jobs that put children first
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</div>
			
			<div class="col-sm-4">
				
				<div class="col-sm-12">
					<div class="signup-form bg-inverse">
					    <form action="/examples/actions/confirmation.php" method="post">
							<h2>Join Today</h2>
							<p class="hint-text">Create your account. It's free and only takes a minute.</p>
					        <div class="form-group">
								<div class="row">
									<div class="col-xs-6"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
									<div class="col-xs-6"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
								</div>        	
					        </div>
					        <div class="form-group">
					        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
					        </div>
							<div class="form-group">
					            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
					        </div>
							<div class="form-group">
					            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
					        </div>        
					       <!--  <div class="form-group">
								<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
							</div> -->
							<div class="form-group">
					            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
					        </div>
						<div class="text-xs-center">Already have an account? <a href="#"><br><small>Sign in</small></a></div>
					    </form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wrapper style1 container special">
		<div class="row">
			<div class="4u 12u(narrower)">

				<section>
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Be Your Boss</h3>
					</header>
					<p>Help Children build their Work efficiency while acquiring Hands on knowledge in their financial literacy. This is a culture to smoothen transition into adulthood.</p>
				</section>

			</div>
			<div class="4u 12u(narrower)">

				<section>
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Collaborative Learning</h3>
					</header>
					<p>Involving parents more as learning partners, we can increase learning outcome for the future generation. Motivating and rewarding of children fosters enjoyment of learning</p>
				</section>

			</div>
			<div class="4u 12u(narrower)">

				<section>
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Innovative</h3>
					</header>
					<p>Keeping children busy will save you a lot from spending on serice providers when it comes to housework while reducing passiveness</p>
				</section>

			</div>
		</div>
	</section>
	<section class="row style3 contatiner wrapper">
		
		<div class="col-sm-12 text-xs-center">
			<h3 class="text-xs-center">
				Let's get you earning
			</h3><h6 class="text-xs-center text-lowercase">It's Easy</h6>

		</div>	

		<!-- <div class="col-sm-12" style="padding: 0">
			<div class="col-sm-6 offset-md-3">
				<hr>
			</div>
		</div> -->
		
		<div class="col-sm-12 text-xs-center">
			<div class="col-md-4 text-xs-center" style="vertical-align: middle;">
				<div class="">
					<i class='fa fa-user step'></i><br>
					<!-- <strong><h3>1<br><p> ___________________ </p></h3></strong>
 		-->
					<br>
					<p>
						Get the app and register online
					</p>
					
				</div>
			</div>
			<div class="col-md-4 text-xs-center">
				<div class="">
					<i class='fa fa-search step'></i><br>
					<!-- <strong><h3>2<br><p> ___________________ </p></h3></strong> -->
					<br>

					<p>
						Find the job you parent wants you to do
					</p>
				</div>
			</div>
			<div class="col-md-4 text-xs-center">
				<div class="">
					<i class='fa fa-dollar step'></i><br>
					<!-- <strong><h3>3<br><p> ___________________ </p></h3></strong> -->
					<br>

					<p>
						Do it well, Get paid
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper style1 container">
		<div class="col-sm-12 text-xs-center">
			<h3>
				Why Children
			</h3>
			<img src="{% static 'assets/images/featured/why_children.jpg' %}" class="img img-rounded" alt="">
			
				<p style="padding: 1% font-size: 15px; ">
					Poverty is one of the reasons why the majority of the children worldwide are deprived of many of their rights. Uganda  has  one  of the  fastest growing populations globally 3.4% annually and  has  the  second most  youthful population in the  world with a median age of just  15.7 years  old. The National Financial  Inclusion Strategy  (NFIS) 2017-2022 which is Uganda’s holistic  strategy for promoting financial inclusion places emphasis on these pillars: Reduce  financial exclusion and  barriers to access financial services, Build the  digital  infrastructure, Deepen and  broaden formal  savings,  investment and  insurance usage.
				</p>
				<p>
					Kids as young as 9 regularly accumulate money but do not know how to actively manage it, and need a safe place to save it. Building online  digital and  business infrastructure can  improve proximity and  bring the would be  harder-to-reach  clients into the financial system at potentially  lower  costs.
				</p>
				<p>
					We believe that the development of financial management skills will lead to an increased tendency among youths to, create businesses of their own, and become good decision makers able to meet future goals – all of which have broader implications for reducing poverty.
				</p>
			
		</div>
	</section>
</article>
{% endblock body %}
