{% extends 'my_allowance/base.html' %}
{% load static %}

{% block body %}
	<article id="main">

					<header class="special container">
						<span class="icon fa-envelope"></span>
						<h2>What We do</h2>
						
					</header>

					<!-- One -->
						
						<section class="style2 wrapper container special">
							<div class="col-sm-12 text-xs-center">
								<h3>
									The learning environment and   its  impact on  learning
								</h3>
								<p>
									Children quickly pick up on ethos – norms and expectations (which is not to say they always conform to these). Children growing up need to learn how to work hard and how to make good smart money decisions.  Ensuring a positive, shared ethos is a high priority because of its importance for the life of the community and its impact on learning. In learning environments where the ethos supports learning:
								</p>
							</div>

							<div class="col-sm-12">
								<br>
								<div class="col-sm-4">
									<div class="col-sm-12">
										<i class="fa fa-cog" style="font-size: 72px"></i><hr>
										There is an expectation on the part of both adults and children that learning is important and enjoyable, and that everyone can achieve;
									</div>
								</div>
								<div class="col-sm-4">
									<div class="col-sm-12">
										<i class="fa fa-bar-chart" style="font-size: 72px"></i><hr>
										Teaching  uses a range of approaches and there is a culture of collaborative learning;
									</div>
								</div>
								<div class="col-sm-4">
									<div class="col-sm-12">
										<i class="fa fa-users" style="font-size: 72px"></i><hr>
										Children are motivated to be ‘the best that they can be’.
									</div>
								</div>
							</div>
						</section>

						<section class="style4 wrapper container special">
							<div class="col-sm-12 text-xs-center">
								<p>
									Technology offers a learning medium with distinctive features. These can be used to support and enhance the development of learners. While ICT can be used to support teaching in many and varied contexts, successful use reflects the extent to which teachers or practitioners interact with children, Successful use of ICT can:
								</p>
							</div>
							<div class="col-sm-12">
								<br>
								<div class="col-sm-4">
									<i class="fa fa-cog" style="font-size: 72px"></i><hr>
									Introduce greater variety and stimuli that capture children’s interest, generate enthusiasm and prompt ideas and thinking;
								</div>
								<div class="col-sm-4">
									<i class="fa fa-bar-chart" style="font-size: 72px"></i><hr>
									Provide improved access to different media and resources that help children to communicate and explore;
								</div>
								<div class="col-sm-4">
									<i class="fa fa-users" style="font-size: 72px"></i><hr>
									Accelerate learning
								</div>
							</div>
							<div class="col-sm-12">
								<br>
								<div class="col-sm-12">
									<div class="col-sm-6 offset-sm-3">
										<hr>
									</div>
									<div class="col-sm-3">&nbsp;</div>
								</div>
								<p>
									 Using technology, we disrupt traditional development opportunities and customize learning with increased participation based on collaboration. Students will expect more opportunities, get their work ethic on and prepare them for the realities ahead.
								</p>
								<p>
									As a startup, we concentrate on building home school connections for learning to include parents as partners. In this era, the voice and choice of students should act as guiding practice and pedagogy.
								</p>
							</div>
						</section>

					<!-- Two -->
						<!-- <section class="wrapper style1 container special">
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>This is Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>Also Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>Probably Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
							</div>
						</section>
 -->
				</article>
{% endblock body %}