<!-- Post a task modal -->
<div class="modal fade" id="post">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title text-xs-center">Post a task</h4>
			</div>
			<div class="modal-body text-xs-center row">
				<!-- <div class="col-sm-12">
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
				</div>
				<div class="col-sm-12">
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
				</div> -->

				<div class="col-sm-12">
					<div class="text-sm-left form-group">
						<label>Task title</label>
						<input type="text" name="name" placeholder="e.g. Clean the Car" />
					</div>
					<div class="text-sm-left form-group">
						<label>Describe your task in detail</label>
						<textarea name="name" placeholder="e.g. Clean the car thoroughly including both the interior and exterior"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer text-xs-center">
				<small>
					
				<button type="button" class="button" data-dismiss="modal" data-toggle="modal" data-target="#sign-up">Next</button>
				</small>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /Post a task modal -->

<!-- Sign up modal -->
<div class="modal fade" id="sign-up">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-sm-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title text-xs-center">Join My Allowance today</h4>
				<div class="col-sm-12">
					<div class="col-sm-2 offset-sm-5"><hr></div>
				</div>
				<p class="text-xs-center">Already have an account? <a href="#" data-toggle="modal" data-target="#login" data-dismiss="modal">Login</a></p>
				<button class="btn btn-social btn-facebook"> <span class="fa fa-facebook"></span>Sign up with Facebook</button>
			</div>
			<div class="modal-body text-xs-center row">
				<!-- <div class="col-sm-12">
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
				</div>
				<div class="col-sm-12">
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
				</div> -->

				<div class="col-sm-12">
					<div class="text-sm-left form-group">
						<label>Email</label>
						<input type="email" name="email" autocomplete="false" />
					</div>
					<div class="text-sm-left form-group">
						<label>Password</label>
						<input type="password" name="password" autocomplete="false" />
					</div>
				</div>
			</div>
			<div class="modal-footer text-xs-center">
				<small>
					
				<button type="button" class="button">Next</button>
				</small>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /sign up modal -->

<!-- Login modal -->
<div class="modal fade" id="login">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-sm-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title text-xs-center">Login</h4>
				<div class="col-sm-12">
					<div class="col-sm-2 offset-sm-5"><hr></div>
				</div>
				<p class="text-xs-center">Don't have an account? <a href="#" data-toggle="modal" data-target="#sign-up">Sign up</a></p>
				<button class="btn btn-social btn-facebook"> <span class="fa fa-facebook"></span>Login with Facebook</button>
			</div>
			<div class="modal-body text-xs-center row">
				<!-- <div class="col-sm-12">
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
				</div>
				<div class="col-sm-12">
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
					<div class="col-xs-4"><i class='fa fa-cog' style="font-size: 36px"></i><hr>Clean</div>
				</div> -->

				<div class="col-sm-12">
					<div class="text-sm-left form-group">
						<label>Email</label>
						<input type="email" name="email" autocomplete="false" />
					</div>
					<div class="text-sm-left form-group">
						<label>Password</label>
						<input type="password" name="password" autocomplete="false" />
					</div>
				</div>
			</div>
			<div class="modal-footer text-xs-center">
				<small>
					
				<button type="button" class="button">Next</button>
				</small>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /Login modal -->


